body{
    background-color:cadetblue;
    font-family: cursive;
    text-align: center;
}

footer {
    text-align: center;
    padding: 28px;
    margin-top: 60px;
    opacity: 0.6;
    font-size: 0.95rem;
    color: ivory;
}

h1{
    color: ivory;
}

img{
    width: 200px;
    height: auto;
    align-content: center;
}

.movie{
    opacity: 0;
    transform: translateY(50px);
    transition:all 0.6s ease-out;
}

.movie.visible{
    opacity: 1;
    transform: translateY(0);
}

.movieimg{
    transition: transform 0.3s ease;
    max-width: 90vw;
    height: auto;
}

.movieimg:hover{
    transform: scale(1.05);
}

#randomBtn {
    padding: 12px 24px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2 ease;
    margin: 30px auto;
    display: block;
}

#randomBtn:hover {
    background-color: #ff1a1a;
    transform: scale(1.05);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

img {
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    border-radius: 8px;
    max-width: 250px;
    height: auto;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.desc{
    font-size: 0.95rem;
    color: #f2f2f2;
    margin: 10px auto 30px;
    text-align: center;
    max-width: 280px;
    line-height: 1.4;
    font-style: italic;
    opacity: 0.9;
}