body{
    background-color:cadetblue;
    font-family: 'Segeo UI', sans-serif;
    text-align: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 2rem;
}

h1{
    color: ivory;
}

img{
    width: 200px;
    height: auto;
    align-content: center;
}

.movie{
    opacity: 0;
    transform: translateY(50px);
    transition:all 0.6s ease-out;
    margin-bottom: 3rem;
    text-align: center;
}

.movie.visible{
    opacity: 1;
    transform: translateY(0);
}

.movieimg{
    transition: transform 0.3s ease;
    max-width: 90vw;
    height: auto;
    width: 250px;
    max-width: 90%;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
    margin-top: 2.5rem;
}

.movieimg:hover{
    transform: scale(1.05);
}

#randomBtn {
    padding: 12px 24px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2 ease;
    margin: 30px auto;
    display: block;
}

#randomBtn:hover {
    background-color: #ff1a1a;
    transform: scale(1.05);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

img {
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    border-radius: 8px;
    max-width: 250px;
    height: auto;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.desc{
    font-size: 0.95rem;
    color: #ddd;
    margin: 0 auto 2rem auto;
    text-align: center;
    max-width: 600px;
    line-height: 1.6;
    font-style: italic;
    opacity: 0.9;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;

}

@media (min-width: 1200px){
    body{
        background-color: #0e2c2c;
        font-size: 1.1rem;
    }
    img {
        width: 500px;
    }
    .desc {
        max-width: 800px;
        margin: 0 auto;
    }
}
